@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap');

html {
    font-family: 'PT Sans', sans-serif;
}

::-webkit-scrollbar {
    background: transparent;  /* Optional: just make scrollbar invisible */
}

h1 {
    font-size: 3rem;
    font-weight: semibold;
}

#container {
    text-align: center;
    margin: auto;
}

#graph {
    position: relative;
    height: 100%;
}

.tab-container {
    font-size: 2rem;
    font-weight: semibold;
}

#polar_plot {
    height: 50vw; 
    width: 90vw;
}

.dash-spreadsheet-container table {
    --accent: transparent !important;
    --selected-background:transparent !important;
}
