@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap');

html {
    overflow: scroll;
    overflow-x: hidden;
    font-family: 'PT Sans', sans-serif;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

h1 {
    font-size: 3rem;
    font-weight: semibold;
}
#container {
    text-align: center;
    margin: auto;
}

#graph {
    position: relative;
    height: 100%;
}

.tab-container {
    font-size: 2rem;
    font-weight: semibold;

}